body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#gameContainer {
    text-align: center;
    width: 100%;
    height: 100vh;
    background: url("snake.png") no-repeat center top;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gameBoard {
    border: 8px solid rgb(58, 76, 58);
    border-radius: 15px;
    max-width: 90vw;
    max-height: 70vh;
}

.title h1 {
    margin: 0;
    font-size: clamp(24px, 5vw, 50px);
    padding-top: 20px;
    color: rgb(14, 60, 14);
}


#scoreText {
    font-size: clamp(40px, 4vw, 100px);
}

#resetBtn {
    font-size: clamp(14px, 2vw, 22px);
    width: clamp(80px, 15vw, 120px);
    height: clamp(40px, 6vw, 60px);
    border: 4px solid;
    border-radius: 15px;
    transition: 0.5s;
    cursor: pointer;
    background-color: rgba(28, 68, 28, 0.656);
}

#resetBtn:hover {
    background-color: rgb(10, 104, 10);
}

@media (max-width: 600px) {
    #gameBoard {
        max-height: 60vh;
    }
}
